{% extends 'base.html.twig' %}

{% block title %}Andreotti Ludovic - Acceuil
{% endblock %}

{% block body %}

	<main class="home">

		<header class="home-header">
			<div class="home-header-background"></div>
			<h1 class="home-title home-title-move">ANDREOTTI Ludovic
				<span class="home-title-underline"></span>
			</h1>
			<div class="home-subtitle-container">
				<h2 class="home-subtitle">Développeur WEB</h2>
			</div>
		</header>


		<div class="home-interest ">


			<div class="home-explain ">
				<span class="home-explain-title ">

					{% if app.user %}
						Bienvenue
						{{app.user.pseudo}}
						!
					{% else %}
						Bienvenue !
					{% endif %}
				</span>
				<span class="home-explain-text">
					<p class="home-explain-text-p1">Actuellement en reconversion professionnelle,</p>
					<p class="home-explain-text-p2">je suis à la recherche d’une structure afin de mener à bien mon projet dans le développement WEB.</p>
				</span>

			</div>


			<aside class="home-interest-list ">
				<a class="home-interest-items" href="{{path('app_home' ,{name:"graphisme"})}}">
					<span>Graphisme
						<span class="home-interest-cover"></span>
					</span>
				</a>
				<a class="home-interest-items" href="{{path('app_home' ,{name:"dessin"})}}">
					<span>dessin
						<span class="home-interest-cover"></span>
					</span>
				</a>
				{# <a class="home-interest-items" href="{{path('app_home' ,{name:"velo"})}}">
													<span>Velo
														<span class="home-interest-cover"></span>
													</span>
												</a> #}

			</aside>

			{% if name %}
				<div class="home-interest-container">
					<span class="home-interest-prev ">&#60</span>
					<div class="home-interest-view  ">
						{% for picture in pictures %}
							<img style="display:none;" id="js-caroussel-img" src="{{asset('/uploads/images/' ~ picture.filename)}}" alt="{{picture.title}}">
						{% endfor %}
					</div>
					<span class="home-interest-next">&#62</span>
				</div>
			{% endif %}
		</div>
	</main>
{% endblock %}
