<footer class="footer">
	<div class="footer-container">

		<aside class="footer-nav">
			<a class=" " href="{{path('app_home')}}">Acceuil</a>
			<a class=" " href="{{path('app_about')}}">à Propos</a>
			<a class=" " href="{{path('app_contact')}}">Contact</a>
			<a class=" " href="{{path('app_projects')}}">Projets</a>
			<a class=" " href="{{path('app_cv')}}">Cv</a>
		</aside>
		<div class="footer-description">
			<p>Ce site intenet à été développer avec le framework symfony</p>

			- Plus d'informations sur https://github.com/LA4/andreotti-cv
		</p>
	</div>
</div></footer>
