<nav class="navbar">

	<a href="{{path('app_home')}}">
		<div class="navbar-logo"></div>
	</a>
	<div class="navbar-navigation">
		<div class="navbar-navigation-list">


			<a id="js-home" class="navbar-navigation-list-link " href="{{path('app_home')}}">Acceuil
				<span class="hover-link"></span>
			</a>


			<a id="js-about" class="navbar-navigation-list-link " href="{{path('app_about')}}">à Propos
				<span class="hover-link"></span>
			</a>


			<a id="js-contact" class="navbar-navigation-list-link" href="{{path('app_contact')}}">Contact
				<span class="hover-link"></span>
			</a>

			<a id="js-cv" class="navbar-navigation-list-link" href="{{path('app_cv')}}">CV
				<span class="hover-link"></span>
			</a>
			{% if app.user %}
				<a id="js-projects" class="navbar-navigation-list-link" href="{{path('app_logout')}}">Me déconnecter
					<span class="hover-link"></span>
				</a>
			{% else %}
				<a id="js-projects" class="navbar-navigation-list-link" href="{{path('app_login')}}">Me connecter
					<span class="hover-link"></span>
				</a>
				<a id="js-projects" class="navbar-navigation-list-link" href="{{path('app_register')}}">M'inscrire
					<span class="hover-link"></span>
				</a>
			{% endif %}


		</div>
	</div>
</nav>
